
body{

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center; 
    font-size: 14px black;
    font-family: arial,sans-serif;
    
      
    
}
#container{
    height: 300px;
    width: 700px; 
    margin-top: 150px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
}

#query{
    width: 700px;     
    height: 45px;
    padding: 6px 35px;
    border-radius: 23px;
    border-style:ridge;
    background: url("icon.png") center  left no-repeat ;
    background-size: 25px 25px;
     
 
}
#query-im{
    width: 700px;    
    height: 45px;
    padding: 6px 35px;
    border-radius: 23px;
    border-style:ridge;
    background: url("images-icon.png") center  right no-repeat ;
    background-size: 50px 30px;
    margin-right: 10px;
}

.button{
    margin-top:20px;
    margin-right: 20px;
    cursor: pointer; 
    width: 130px;  
    height: 35px;
    background-color: rgba(247, 240, 240, 0.925);;
    border-radius: 10px;
    border-style: none;

}
.button:hover{
    border-width: 3px;
    outline: rgb(138, 136, 136);
    border-style: ridge;
}
#button1{
    margin-left: 200px;
}
#tabs{
    margin-left: 700px;  
    margin-top: 50px; 
    
    
}
#image{
    color: black;
    text-decoration-line: none;
}
#image:hover ,#ad-s:hover {
    text-decoration-line:underline;
}
#ad-s{
    color: black;
    text-decoration-line: none;

}